{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block script %}{% endblock %}

{% block main %}
    <h1>Поздравления</h1>
    <h3>Введите своё имя</h3>
    <form method="post">
        <label for="username">Имя:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Продолжить</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab9/lab9.css') }}">
{% endblock %}