<!doctype html>
<html>
    <head>
        <title>Список фильмов</title>
    </head>
    <style>
        img {
            max-height: 200px;
        }
        div {
            display: inline-block;
            border: 5px solid;
            border-radius: 15px;
            width: 450px;
            padding: 7px;
            margin: 3px 0;
        }
    </style>
    <body>
        <h1>Список фильмов</h1>
        {% for movie in movies %}
            <div>
                <h2>{{ movie.title }}</h2>
                <p>{{ movie.description }}</p>
                <img src="{{ url_for('static', filename=movie.image) }}" alt="{{ movie.title }}">
            </div>
        {% endfor %}
    </body>
</html>
