{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Поиск фильмов по диапазону цен</h1>
    <form action="/lab3/search-results">
        <div>
            <label for="min_price">Мин. цена:</label>
            <input type="number" id="min_price" name="min_price" required>
        </div>
        <div>
            <label for="max_price">Макс. цена:</label>
            <input type="number" id="max_price" name="max_price" required>
        </div>
        <button type="submit">Искать</button>
    </form>
{% endblock %}
