{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>
    <form method="post">
        <div style="margin-bottom: 10px">
            <label>
                Название статьи:
                <input type="text" name="title" maxlength="50">
            </label>
        </div>

        <div>
            <textarea name="article_text"></textarea>
        </div>

        {% if error %}
        <div style="color: red; font-style: italic; font-weight: bold; margin-bottom: 10px;">
            {{ error }}
        </div>
        {% endif %}

        <div>
            <button type="submit">Готово</button>
        </div>
    </form>

    <p><a href="/lab5/logout" style="border: 5px solid white; padding: 3px"><i>Выйти</i></a></p>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab5/lab5.css') }}">
{% endblock %}