body {
    background: linear-gradient(90deg, rgba(0,212,255,1) 22%, rgba(9,9,121,1) 66%, rgba(2,0,36,1) 100%);
}
h1 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-transform: uppercase;
}
div {
    text-align: center;
}
img {
    width: 40%;
    height: auto;
    border-radius: 20px;
    border: 10px solid white;
}