{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<h1>Редактирование статьи</h1>

    {% if error %}
        <div style="color: red; font-weight: bold;">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST" action="/lab8/article/edit/{{ article.id }}">
        <div style="margin-bottom: 10px">
            <label>
                Название статьи:
                <input type="text" id="title" name="title" maxlength="50" value="{{ article.title }}" required>
            </label>
        </div>

        <div><textarea id="text" name="text" required>{{ article.article_text }}</textarea></div>

        <button type="submit">Сохранить изменения</button>
    </form>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab8/lab8.css') }}">
{% endblock %}