{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div class="ka-block">
        {% if login == 'Anonymous' %}
            <a href="/lab8/login"><button>Вход</button></a>
            <a href="/lab8/register"><button>Регистрация</button></a>
            <a href="/lab8/public"><button>Публичные статьи</button></a>
            <div><i>Anonymous</i></div>
        {% else %}
            <a href="/lab8/logout"><button>Выход</button></a>
            <a href="/lab8/article"><button>Cписок моих статей</button></a>
            <a href="/lab8/article/create"><button>Cоздать статью</button></a>
            <a href="/lab8/public"><button>Публичные статьи</button></a>
            <div><i>{{ login }}</i></div>
        {% endif %}
    </div>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab8/lab8.css') }}">
{% endblock %}